* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    list-style: none;
}

body {
    background: lightblue;
}

.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.Left_Side {
    grid-column: span 2;
    height: 100%;
    background-color: #00324A;
}

.Right_Side {
    grid-column: span 5;
    background-color: #f7f7f7;
    height: 100%;
}

.left-content {
    padding: 1rem 3rem;
}

.About_me {
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
}

.About_me img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid #f7f7f7;
}

.name {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1.2rem 0;
}

.career {
    font-size: 1.2rem;
    color: #94d9ea;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}
.main-title {
font-size: 1.8rem;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
padding-top: 3rem;
border-bottom: 1px solid #f7f7f7;
}
.contacts ul {
    padding-top: 2rem;
}
.contacts ul li {
    padding:  0.5rem 0;
    display: flex;
    align-items: center;
    color:white;
    font-size: 1.2rem;
}


